{% extends 'index.html' %}

{% block title %}Photo Detail{% endblock %}

{% block contents %}
<br>
<div class="container">
    <div class="row">
        <div class="col-12"> <!-- col-12で全幅を使用 -->
            <!-- タイトル -->
            <h2 class="mt-3">{{ object.title }}</h2> <!-- タイトルの下に余白 -->

            <!-- 画像とコメントを横並びにするためのdiv -->
            <div class="d-flex mt-3"> <!-- 画像とコメントの間に空白を追加 -->
                <!-- 1枚目の写真 -->
                <p><img src="{{ object.image1.url }}" class="img-fluid" style="max-width: 300px; margin-right: 10px;"></p>
                
                <!-- コメント（改行を有効にする） -->
                <p>{{ object.comment|linebreaksbr }}</p>
            </div>
    
            <!-- 2枚目の写真が投稿されていたら表示する-->
            {% if object.image2 %}
            <p><img src="{{ object.image2.url }}" class="img-fluid" style="max-width: 300px;"></p>
            {% endif %}
            
            <br>
            <!-- 投稿日時 -->
            <p>{{ object.posted_at }} に投稿</p>
        </div>
    </div>
</div>
{% endblock %}
